#img-wrapper {
  margin: 50px 20px;
}

.img-box {
  text-align: center;
  background: #eeeeee;
  display: inline-block;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
}

.img-box .img {
  width: 300px;
  height: auto;
  border-radius: 5px;
}

.img-box .price {
  font-style: italic;
  margin: 5px;
}

.img-box .title {
  margin: 5px;
}